
active_code/__pycache__/robot.cpython-38.pyc
*.pyc
*.pyc
active_code/__pycache__/robot.cpython-38.pyc
*.comni-linux-rtfeeds2019armcortexa9-vfpv3
active_code/opkg_cache/Packages/httpsdownload.ni.comni-linux-rtfeeds2019armcortexa9-vfpv3.jmd
*.netrobotpyfeeds2020
*.ipk
*.jmd
*.gz
*.pyc
active_code/subsystems/__pycache__/DriveTrain.cpython-38.pyc
active_code/subsystems/__pycache__/MasterController.cpython-38.pyc
*.pyc
active_code/__pycache__/robot.cpython-38.pyc
active_code/subsystems/__pycache__/DriveTrain.cpython-38.pyc
active_code/subsystems/__pycache__/MasterController.cpython-38.pyc
.mypy_cache/3.8/_ast.data.json
.mypy_cache/3.8/_ast.meta.json
.mypy_cache/3.8/_importlib_modulespec.data.json
.mypy_cache/3.8/_importlib_modulespec.meta.json
.mypy_cache/3.8/@plugins_snapshot.json
.mypy_cache/3.8/abc.data.json
.mypy_cache/3.8/abc.meta.json
.mypy_cache/3.8/ast.data.json
.mypy_cache/3.8/ast.meta.json
.mypy_cache/3.8/builtins.data.json
.mypy_cache/3.8/builtins.meta.json
.mypy_cache/3.8/codecs.data.json
.mypy_cache/3.8/codecs.meta.json
.mypy_cache/3.8/enum.data.json
.mypy_cache/3.8/enum.meta.json
.mypy_cache/3.8/io.data.json
.mypy_cache/3.8/io.meta.json
.mypy_cache/3.8/jupyterTests.data.json
.mypy_cache/3.8/jupyterTests.meta.json
.mypy_cache/3.8/mmap.data.json
.mypy_cache/3.8/mmap.meta.json
.mypy_cache/3.8/oi.data.json
.mypy_cache/3.8/oi.meta.json
.mypy_cache/3.8/posix.data.json
.mypy_cache/3.8/posix.meta.json
.mypy_cache/3.8/robotConstants.data.json
.mypy_cache/3.8/robotConstants.meta.json
.mypy_cache/3.8/sys.data.json
.mypy_cache/3.8/sys.meta.json
.mypy_cache/3.8/types.data.json
.mypy_cache/3.8/types.meta.json
.mypy_cache/3.8/typing.data.json
.mypy_cache/3.8/typing.meta.json
.mypy_cache/3.8/collections/__init__.data.json
.mypy_cache/3.8/collections/__init__.meta.json
.mypy_cache/3.8/collections/abc.data.json
.mypy_cache/3.8/collections/abc.meta.json
.mypy_cache/3.8/commands/__init__.data.json
.mypy_cache/3.8/commands/__init__.meta.json
.mypy_cache/3.8/commands/defCommand.data.json
.mypy_cache/3.8/commands/defCommand.meta.json
.mypy_cache/3.8/commands/drive.data.json
.mypy_cache/3.8/commands/drive.meta.json
.mypy_cache/3.8/commands/paraCommandGr.data.json
.mypy_cache/3.8/commands/paraCommandGr.meta.json
.mypy_cache/3.8/commands/sampCommand.data.json
.mypy_cache/3.8/commands/sampCommand.meta.json
.mypy_cache/3.8/commands/seqCommandGr.data.json
.mypy_cache/3.8/commands/seqCommandGr.meta.json
.mypy_cache/3.8/commands/testCommand.data.json
.mypy_cache/3.8/commands/testCommand.meta.json
.mypy_cache/3.8/importlib/__init__.data.json
.mypy_cache/3.8/importlib/__init__.meta.json
.mypy_cache/3.8/importlib/abc.data.json
.mypy_cache/3.8/importlib/abc.meta.json
.mypy_cache/3.8/os/__init__.data.json
.mypy_cache/3.8/os/__init__.meta.json
.mypy_cache/3.8/os/path.data.json
.mypy_cache/3.8/os/path.meta.json
.mypy_cache/3.8/subsystems/__init__.data.json
.mypy_cache/3.8/subsystems/__init__.meta.json
.mypy_cache/3.8/subsystems/DriveTrain.data.json
.mypy_cache/3.8/subsystems/DriveTrain.meta.json
.mypy_cache/3.8/subsystems/testSubsystem.data.json
.mypy_cache/3.8/subsystems/testSubsystem.meta.json
active_code/__pycache__/robot.cpython-38.pyc
active_code/__pycache__/robot.cpython-38.pyc
.mypy_cache/3.8/commands/colorWheel.data.json
.mypy_cache/3.8/commands/colorWheel.meta.json
.mypy_cache/3.8/commands/mathRotate.data.json
.mypy_cache/3.8/commands/mathRotate.meta.json
.mypy_cache/3.8/commands/readColor.data.json
.mypy_cache/3.8/commands/readColor.meta.json
.mypy_cache/3.8/subsystems/ColorSpinner.data.json
.mypy_cache/3.8/subsystems/ColorSpinner.meta.json
.mypy_cache/3.8/subsystems/sampSubsystem.data.json
.mypy_cache/3.8/subsystems/sampSubsystem.meta.json
